@{
    ViewBag.Title = "Home Page";
}
<style>
    .text-wrap{
        word-wrap: break-word
    }
</style>
<div class="jumbotron">
    <h1>Using Managed Identity</h1>
    @*<p class="lead">ID Token : </p>*@
    <p class="lead">A proof on concept using the Azure System Managed Identity</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><code>GET: https://rfp-easyauth-webapi-poc.azurewebsites.net/api/rfp </code> <span class="pull-right">Using Managed Identity</span></div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>



@section Scripts {
    
    <script>

        $(function () {
           

            $("#msIdentity-reqest-btn").click(function () {
                $.get("demo_test.asp", function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });
        })
    </script>
    
}